.Options {
    padding: 1rem;
}

.Option {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 0.75rem;
    border-radius: 0.75rem;
    cursor: pointer;
    transition: background-color 0.5s;
}

.Option:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.PollTitle {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.Questions {
    position: relative;
}

.QuestionDiv {
    visibility: hidden;
    z-index: -1;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.QuestionDiv:not(:first-child) {
    position: absolute;
    top: 0;
}

.QuestionDivActive {
    visibility: visible;
    z-index: 0;
    opacity: 1;
}

.QuestionTitle {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.75rem;
    height: 1.5rem;
}

.ProgressButtons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    justify-content: center;
    width: 100%;
}

.Progress {
    margin-top: 1rem;
    padding: 0.75rem 1rem;
    border-radius: 0.75rem;
    background-color: #0070f3;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
    outline: none;
    border: none;
}

.Progress:disabled {
    background-color: #0070f380;
    cursor: default;
}

.Submit {
    width: 100%;
}
