* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: white;
  background: radial-gradient(circle, rgba(0, 74, 136, 1) 0%, rgba(33, 9, 121, 1) 40%, rgba(3, 1, 36, 1) 100%);
}

a {
  color: inherit;
  text-decoration: none;
}

.Nav {
  background-color: transparent;
  /* text-shadow: 1px 1px 1px black; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 15pt;
  color: white;
  position: fixed;
  width: 100vw;
  height: 45pt;
}

.NavLink {
  padding: 15pt 20pt;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh);
  padding: 45pt;
}

.VertCenter {
  margin-top: auto;
  margin-bottom: auto;
}

.MainWidth {
  width: 100vw;
  max-width: 500px;
}
